.bundle_section_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto !important;
  width: 100%;
  max-width: 900px;
  padding: 1rem;
}

#filter_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin: 1rem;
}

.form_item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .bundle_section_wrapper {
    flex-direction: row;
    align-items: center;
  }
  #filter_form {
    flex: 1;
  }
  .bundle_section_wrapper > :nth-child(2) {
    flex: 3;
  }
}
