/* Button Styles */
.button {
  display: inline-flex;
  min-height: 40px;
  border: 2px solid #42da82;
  margin: 20px 20px 20px 20px;
  color: #42da82;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.5rem 1rem !important;
}
.text_btn {
  color: #42da82;
  text-decoration: none;
  letter-spacing: 1px;
}
/* Second Button */

.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button .text_btn {
  position: relative;
  transition: all 0.35s ease-Out;
}

.slide {
  width: 100%;
  height: 100%;
  left: -300px;
  background: #42da82;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}
.button:hover .text_btn {
  color: #42da82 !important;
}
.button:hover {
  background-color: transparent;
  color: #42da82;
}
.button:hover .slide {
  left: 0;
  background: transparent;
}

.button:hover .text_btn {
  color: white;
}
.button.green_btn .slide {
  background-color: #002c85;
}

.button.green_btn {
  border-color: #002c85;
  color: #002c85;
}
.button.green_btn .text_btn {
  color: #002c85;
}

.button.green_btn:hover .text_btn {
  color: white;
}

/* .button.start_now {
  color: white !important;
  background: #42da82;
}
.button.start_now .text_btn {
  color: white;
  font-weight: bolder;
  font-family: "Lexend-ExtraBold";
}
.button.start_now .slide {
  left: 100%;
  z-index: 1000;
} */
